.table-border table{
    border-collapse: collapse;
    width: 100%;
    border:1px solid black;
}

.table-border th{
    border: 1px solid black;
}

.table-border td{
    border: 1px solid black;
}

a.basic{
    color : inherit;
    text-decoration: none;
}